.container {
    padding: 24px;
    border: 1px solid #0e6c33;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    margin-top: 16px;
  }
  
  .title {
    text-align: center;
    color: #0e6c33;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
  }
  
  .description {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .table {
    display: flex;
    flex-direction: column;
    border: 1px solid #0e6c33;
    margin-bottom: 20px;
  }
  
  .tableHeader,
  .tableRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid #0e6c33;
  
    // @media (max-width: 768px) {
    //   grid-template-columns: 1fr;
    // }
  }
  
  .tableHeader {
    background-color: #00751f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  
  .tableRow {
    background-color: #f4fff0;
    font-size: 16px;
    font-weight: 600;
  }

  .bold {
    font-weight: bold;
  }
  
  .cell {
    padding: 12px;
    border-right: 1px solid #0e6c33;
    text-align: center;
  
  
    &:last-child {
      border-right: none;
    }
  
    @media (max-width: 768px) {
        padding: 8px;
        border-right: 1px solid #0e6c33;
        text-align: center;
        font-size: 16px;
        line-height: 1.25;
    }
  }
  
  .notes {
    font-size: 18px;
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    line-height: 1.5;
  
    p {
      margin: 10px 0;
      text-align: justify;
    }
  
    // ul {
    //   padding-left: 20px;
    //   margin: 10px 0;
  
    //   li {
    //     margin-bottom: 8px;
    //     text-align: justify;
    //   }
    // }
  }

  @media (max-width: 768px) {
    .container {
      padding: 12px 16px;
      font-size: 16px;
      font-family: 'Roboto', 'Noto Sans', sans-serif;
    }

    .title {
      font-size: 20px;
    }

    .description {
      font-size: 16px;
    }

    .notes {
      font-size: 16px;
      font-family: 'Roboto', 'Noto Sans', sans-serif;
    }
  }
  