@font-face {
  font-family: "Roboto";
  src: URL("./../font/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-bold";
  src: URL("./../font/Roboto-Bold.ttf");
}

@font-face {
  font-family: "timenew";
  src: URL("./../font/times\ new\ roman.ttf");
}

@font-face {
  font-family: "SF Pro Display";
  src: URL("./../font/SFPRODISPLAYMEDIUM.OTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  font-family: "Roboto";
  font-style: normal;
}

marquee {
  max-width: 350px;
  width: 100%;
}

.hoahong {
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
}

.category-header a {
  color: #76a9e6;
  font-weight: 600;
}

.header-login-first {
  display: flex;
  justify-content: space-around;
}

.header-login-first span,
.font-timenew {
  color: #320404;
  text-align: center;
  font-family: "Roboto";
  font-size: 15.421px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu-header-top a {
  height: 30px;
  padding: 15px 2px;
  box-sizing: border-box;
  font-family: "Roboto";
}

.menu-header-top a:last-child img {
  width: 12px;
  height: 18px;
}

.h-cp-100 {
  height: 100px;
}

.btn-login {
  display: flex;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #fffcdf;
  color: #006719;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border: 1px solid #f8e64f;
}

.btn-regiter {
  display: flex;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: var(--gra, linear-gradient(180deg, #f8e64f 0%, #cfea29 100%));
  color: #006719;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border: 1px solid #090e3a;
}

/* .btn-login:hover,
.btn-regiter:hover {
    opacity: 0.9;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.60);
} */

.background-banner {
  min-height: 280px;
  background: url("https://962356.com/daily/banner-full");
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.background-banner.bg-taiapp {
  background: url("./../images/banner-taiapp.png");
}

.background-banner .menu-option {
  margin: auto;
  position: absolute;
  bottom: -80px;
  left: auto;
  right: auto;
  background: #ffffff;
  border-radius: 10px;
  padding: 1px 28px;
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.25);
  z-index: 9;
}

.background-banner .menu-option img {
  flex-shrink: 0;
}

.background-banner .menu-option span {
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-size: 15.246px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.background-banner-center {
  min-height: 660px;
  width: 100%;
  background: url(../qq88_image/bg-main-qq88.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
}

.background-banner-center img {
  position: absolute;
  bottom: 0px;
  margin: auto;
  left: 0px;
  right: 0px;
  width: 500px;
}

.menu-option-list {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  height: auto;
  position: relative;
}

.menu-option-list .item {
  position: relative;
}

.menu-option-list .item a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  font-family: "Open Sans";
  font-size: 26px;
  line-height: 1;
  font-weight: bold;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #23abd4, #23abd4 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
}

.menu-option-list .item a:before {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: #23abd4;
  transition: all 0.3s ease-in-out;
}

.menu-option-list .item a:hover {
  background-position: 0%;
}

.menu-option-list .item a:hover:before {
  width: 100%;
}

.menu-option-list .item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.du-menu .bg-unactive {
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.main {
  position: relative;
  font-family: "Roboto";
  background-size: cover;
  background-attachment: fixed;
  font-style: normal;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

.wrapper {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.text {
  display: inline;
  width: 100%;
  font-weight: 400;
}

.read-or-hide {
  color: #c54130;
  cursor: pointer;
}

.wrapper-footer {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  z-index: 9;
}

.footer-new {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.footer-new::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(/assets/qq88_image/footer-bg.jpg);
  opacity: 0.9;
  position: absolute;
  top: 0px;
  left: 0;
}

.footer-container {
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 25px;
  margin-top: 40px;
}

.footer-menu-description {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.hr {
  background: #111;
  height: 23px;
  width: 1px;
}

.footer-menu ul li:nth-child(4n) {
  text-align: right;
}

.logo img {
  max-width: 141px;
  width: 100%;
  height: 91px;
}

.text-789bet {
  margin-top: 30px;
  color: #fff;
  text-align: justify;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: unset !important;
  font-family: SF Pro Display;
}

.title_thongtin h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #ffffff;
}

.footer_link div {
  color: #666666;
  margin-bottom: 16px;
}

.vip-club-gt {
  align-items: center;
}

.vip-club-gt .fan-club {
  border-right: 1px solid #26a8df;
}

.footer-info-top h3 {
  color: #fff;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.footer-info-top p {
  color: #000;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.footer-menu {
  padding-bottom: 20px;
}

.footer-menu.pd_menu {
  padding-bottom: 40px;
}

.footer-menu .title {
  text-align: center;
  color: #000;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  text-transform: capitalize;
  padding: 30px 0px 20px;
}

.footer-menu .menu-description {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: "Roboto";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-menu .menu-description a:hover {
  opacity: 0.5;
}

.info-paymend .logo {
  padding-bottom: 14px;
}

.paymend-title {
  color: #000;
  font-family: "Roboto";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: capitalize;
  letter-spacing: 2;
}

.paymend-menthod {
  column-gap: 54px;
  row-gap: 26px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.license-info {
  padding-bottom: 20px;
}

.license-info .flex {
  justify-content: space-between;
}

.license-info img:hover {
  opacity: 0.7;
}

.license-info .flex h3 {
  color: #000;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: capitalize;
  padding-bottom: 15px;
  text-align: left;
}

.license-info .list-icon01 {
  max-width: 226px;
  width: 100%;
}

.license-info .flex-icon01 {
  flex-wrap: wrap;
}

.license-info .list-icon02 {
  max-width: 138px;
  width: 100%;
}

.license-info .list-icon03 {
  max-width: 234px;
  width: 100%;
}

.license-info .list-icon04 {
  max-width: 332px;
  width: 100%;
}

.list-logo-footer {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding-bottom: 30px;
  cursor: pointer;
}

.thongtin {
  display: flex;
  gap: 80;
}

.btn_dangky {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, #666666 0%, #000000 100%);
  height: 95px;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 0px 0px !important;
  color: rgba(0, 0, 0, 0.88);
  line-height: 1.5714285714285714;
  cursor: pointer;
  transition: all 0.3s, visibility 0s;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-collapse
  > .ant-collapse-item.ant-collapse-no-arrow
  > .ant-collapse-header {
  padding-inline-start: 0px !important;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-collapse {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 20px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.02);
  border: 0px solid #d9d9d9;
  border-radius: 8px;
  max-width: 1200px;
  width: 100%;
}

.ant-collapse-header {
  border-radius: 50px;
}

.w-\[55\%\] {
  width: 56%;
}

/*---------------------------------*/
.ant-collapse-item-active {
  background: #363636 !important;
  border-radius: 50px 50px 20px 20px !important;
}

:where(.css-15rg2km).ant-collapse > .ant-collapse-item > .ant-collapse-header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 0px 0px !important;
  color: rgba(0, 0, 0, 0.88);
  line-height: 1.5714285714285714;
  cursor: pointer;
  transition: all 0.3s, visibility 0s;
}

.header-tttk {
  display: flex;
  height: 95px;
  max-width: 1200px;
}

.trangchinhthuc {
  position: relative;
  max-width: 700px;
  width: 100%;
  height: 53px;
  line-height: 42px;
  text-transform: uppercase;
  background-size: cover;
  margin: 20px 0 28px 0;
}

.trangchinhthuc .title-real {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  height: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trangchinhthuc .title-real::before {
  content: url(../../public/images/arrow1.png);
  margin-right: 25px;
}

.trangchinhthuc .title-real::after {
  content: url(../../public/images/arrow2.png);
  margin-left: 25px;
}

.nhapnhay {
  font-weight: 700;
  animation: my 700ms infinite;
  text-align: center;
}

@keyframes my {
  0% {
    color: #ffffff;
  }

  50% {
    color: #cabdba;
  }

  100% {
    color: #df751e;
  }
}

.title_tttk {
  position: absolute;
  left: 108px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  text-transform: capitalize;
  color: #ffffff;
  text-align: left;
  line-height: 95px;
}

.ant-collapse-content-box {
  font-family: "Roboto";
  background: #fff;
  border-radius: 0 0 20px 20px;
  height: 100% !important;
}

.text_ctdl {
  font-family: "Roboto";
  font-style: normal;
  /* font-weight: 800; */
  font-size: 18px;
  line-height: 35px;
  color: #313131;
}

.link_item:hover {
  color: orange;
}

.bg_active {
  background-color: red;
  color: #fff;
}

.icon-tele {
  z-index: 9999;
  font-size: 2rem;
  position: fixed;
  bottom: 30px;
  right: 40px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  animation: at-ripple-blue 1s linear infinite;
}

@keyframes at-ripple-blue {
  0% {
    box-shadow: 0 4px 10px rgba(111, 155, 180, 0.774),
      0 0 0 0 rgba(72, 126, 161, 0.644), 0 0 0 5px rgba(42, 94, 161, 0.788),
      0 0 0 10px rgba(47, 120, 153, 0.719);
  }

  100% {
    box-shadow: 0 4px 10px rgba(91, 162, 209, 0.192),
      0 0 0 5px rgba(80, 157, 219, 0.274), 0 0 0 10px hsla(202, 75%, 71%, 0.205),
      0 0 0 20px rgba(107, 203, 241, 0.192);
  }
}

.vechungtoi .ant-collapse-item-active,
.huongdandangky .ant-collapse-item-active {
  background: rgba(0, 0, 0, 0.02) !important;
}

.vechungtoi .ant-collapse-content-box,
.huongdandangky .ant-collapse-content-box {
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.25);
}

.bg-chinhsach_bg_new {
  display: block;
  border: 3px solid #046431;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.huongdandangky .ant-collapse {
  background: none;
}

.hoahong {
  color: #000;
  text-align: justify;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 150%;
}

.hoahong th {
  --tw-text-opacity: 1;
  text-align: center;
  --tw-text-opacity: 1;
  color: #006719;
  font-family: "Roboto";
  font-size: 17.52px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.hoahong td {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  color: #006719;
}

#thongtin {
  position: relative;
}

#thongtin .position-menu {
  margin-top: -460px;
}

/* Page thông tin */
.bg-box-thongtin {
  background-image: url(./../images/Subtract.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.btn-box-link {
  max-width: 320px;
  width: 100%;
  line-height: 2;
  text-align: center;
  position: relative;
  border-radius: 37.997px;
  background: var(--linear, linear-gradient(180deg, #fcfcfc 0%, #e3e3e3 100%));
  box-shadow: 0px 3.695150136947632px 3.695150136947632px 0px
    rgba(0, 0, 0, 0.12);
}

.btn-box-link:hover {
  color: #0a5b32;
}

.btn-icon {
  background-image: url(./../images/Union_thongtin.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -3.6px;
  left: -4px;
  z-index: 9999;
  width: 86.034px;
  height: 51.025px;
}

.btn-icon img {
  padding: 11px 4px;
}

#text_more {
  display: none;
}

.hover\:bg-gradient-to-r:hover {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.right_ct {
  right: 20px !important;
  bottom: 100px;
}

.ant-collapse-content {
  display: none;
}

.ant-collapse-content-box {
  height: auto !important;
}

.ant-collapse-content-active {
  width: 100%;
  height: auto !important;
  display: block;
  transition: 0.5s;
}

p {
  font-weight: 400;
}

#tabs {
  cursor: pointer;
}

.content_message {
  font-size: 15px;
}

.tab-content .active {
  display: block;
}

.logo-footer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.text-red {
  color: #d7000d;
  font-size: 28px;
  font-weight: 700;
}
